// Khách hàng
.custommer {

    // Form tìm kiếm
    .search-master {
        .ant-form-item {
            margin: 0 !important;
        }

        .co3 {
            .ant-input::placeholder {
                color: #ABABAB;
                font-size: 16px;
                font-weight: 500;
            }

            .btn {
                img {
                    margin: 0 !important;
                    background-color: #eeeeee;
                    height: 44px !important;
                    width: 100% !important;
                    padding: 7px;
                    max-width: 44px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 0 6px 6px 0;
                }
            }
        }
    }

    // Bảng dữ liệu
    .ant-table {

        background: white;
        padding: 20px;

        .ant-table-thead>tr>th {
            padding: 12px 8px;
            background-color: #e2e2e2;
            text-align: left;
        }

        .ant-table-thead>tr>.ant-table-cell-stt,
        .ant-table-thead>tr>.ant-table-cell-status,
        .ant-table-thead>tr>.ant-table-cell-actions {
            text-align: center;
        }

        .ant-table-tbody>tr>td {
            padding: 12px 8px;
        }

        .ant-table-cell-stt,
        .ant-table-cell-status,
        .ant-table-cell-actions {
            text-align: center;
        }


        .ant-table-row:nth-child(odd) {
            background-color: #ffffff;
        }

        .ant-table-row:nth-child(even) {
            background-color: #f7f7f7;
        }
    }

    .pagination {
        background: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
}















// Chi tiết khách hàng
.customer-detail {
    .custom-tabs {
        margin-top: 15px;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;


        .ant-tabs-nav-wrap {
            border-radius: 6px;
            background-color: #f2f2f2;
            padding: 6px;
        }

        .ant-tabs-nav {
            margin: 0 !important;

            &::before {
                border-bottom: none !important;
            }

            .ant-tabs-nav-list {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }

            .ant-tabs-tab {
                padding: 5px 10px;
                width: 100%;
                font-weight: 500;
                border-radius: 8px;
                background-color: transparent;
                transition: all 0.3s;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;

                &:hover {
                    background-color: #dcdcdc;
                }

                .ant-badge {
                    .ant-badge-count {
                        color: #000;
                        font-weight: 600;
                        font-size: 12px;
                        min-width: 25px;
                        height: 20px;
                        line-height: 20px;
                        border-radius: 12px;
                        padding: 0 6px;
                        margin-left: 2px;
                    }
                }
            }

            .ant-tabs-tab-active {
                background-color: white;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
                font-weight: 600;
            }

            .ant-tabs-ink-bar {
                display: none !important;
            }
        }

        .ant-tabs-content {
            margin-top: 16px;
            background-color: white;

            .ant-collapse {
                background-color: white;
            }

        }
    }
}



















.custom-collapse-icon {
    transition: transform 0.3s;
    width: 12px;
    height: 12px;
    margin-right: 0px;
    transform: rotate(-90deg);
}

.custom-collapse-icon.rotate {
    transform: rotate(0deg);
}

.custom-header {
    display: flex;
    align-items: center;
}

.custom-header {
    position: relative;

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #647E6E80;
        position: absolute;
        bottom: 5px;
    }

    h4 {
        font-size: 16px;
        line-height: 22px;
        color: #15713A !important;
        background: white;
        position: relative;
        z-index: 1;
        padding-right: 8px;
    }
}

.ant-collapse-expand-icon {
    padding-inline-end: 10px !important;
}



// Xoá viền bảng của Descriptions
.generalinformation,
.golfinformation {
    .ant-descriptions-bordered {
        border: none;

        .ant-descriptions-view {
            border: none;

            .ant-descriptions-row {
                border: none;

                .ant-descriptions-item {
                    border: none;

                    .ant-descriptions-item-label,
                    .ant-descriptions-item-content {
                        border: none !important;
                    }

                    &::before,
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}