.info-product {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .container-img {
    width: 10%;
    min-width: 50px;
    height: 50px;
    border: 1px solid rgb(228, 223, 223);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    .img-box {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      object-fit: contain;
    }
  }
  .name {
    width: 85%;
    padding-right: 7%;
  }
}
.price-style {
  font-weight: 600;
}
.styles-input-number .ant-input-number {
  border: none !important;
  background: white !important;
  border-bottom: 1px solid #ccc !important;
  border-radius: 0 !important;
  padding: 0 !important;
  outline: none !important;
}

.styles-input-number .ant-input-number-focused {
  box-shadow: none !important;
  border-bottom: 1px solid var(--main-color) !important; /* Đổi màu khi focus */
}
.styles-input-number .ant-input-number-group-addon {
  border: none !important; /* Ẩn viền */
  border-bottom: 1px solid #ccc !important;
  color: var(--main-color) !important; /* Màu chữ */
  overflow: hidden;
  white-space: nowrap;
}
.columes-styles-code {
  max-width: 70px !important;
}
.columes-styles-stt {
  max-width: 2rem !important;
}
