$golf-status-main-color: #22BA4F;
$golf-status-bg-main-color: #E6FAE5;

$golf-status-second-color: #FA9E1E;
$golf-status-bg-second-color: #FFF8D7;

$golf-status-thr-color: #7B7B7B;
$golf-status-bg-thr-color: #F6F6F6;

$golf-bg-main-color: #163422;
$golf-bg-second-color: #15713A;