.stock-discount-amount {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    background: #dadbde;
    width: 1px;
    height: 100%;
    z-index: 100;
  }

  &::before {
    left: 44px;
  }

  &::after {
    left: 88px;
  }

  .ant-radio-button-wrapper {
    text-align: center;
    border: none;

    &:focus,
    &:active,
    &.ant-radio-button-wrapper-checked {
      box-shadow: none;
      color: #3BB54A;
      font-weight: bolder !important;
      background-color: transparent !important;
    }
  }

  .ant-radio-button-wrapper-disabled {
    background-color: transparent !important;
    box-shadow: none;
  }
}
