.card-search{
  .ant-card-body{
    padding-bottom: 0;
  }
}
.card-static.red{
  border: 1px solid #FF0000 !important;
  .value{
    color: #FF0000;
  }
}
.card-static.green{
  border: 1px solid var(--main-color) !important;
  .value{
    color: var(--main-color);
  }
}

.card-static{
  border: 1px solid !important;
}

.card-table-cashbook{
  .ant-card-body{
    padding: 0 0 10px;
  }
  .custom-pagination{
    padding: 0 18px;
  }
}

.status-label {
  .as-label {
    left: -4px;
  }
}
