
.header-card-dashboard{
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.container-content{
    display: flex;
    align-items: flex-end;
    gap: 6px;
}
.container-card{
    display: inline-flex;
    align-items: flex-start;
    gap: 6px;
}
.container-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}
.align-stretch{
    align-items: stretch;
}
.unit{
    color: #636363;
    text-align: right;
    font-size: 14px;
    font-weight: 500;
    line-height: 32px; /* 228.571% */
}

.title-card-default{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
    color: #323232;
}
.tab-badge{
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.primary-text-title{
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    color: #3BB54A;
}
.warning-text-title{
    font-weight: 700;
    color: red;
}
.stock-text-title{
    font-weight: 700;
    color: orange;
}

.primary-text{
    color: #3BB54A !important;
}
.green-text{
    color: green !important;
    font-weight: 500;
}
.red-text{
    color: red !important;
    font-weight: 500;
}
.box-0{
    box-shadow: none !important;
}
.title-card{
    color: #636363;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    align-self: stretch;
}
.content-card{
    color: #121212;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
}
.percent-container{
    display: inline-flex;
    align-items: center;
    gap: 4px;
}
.text-center-bold{
    font-weight: 600;
    text-align: center;
}

/*chart style*/
.container-tooltip{
    padding: 8px;
    background: white;
    border-radius: 6px;
    border: 1px solid #D0D0D0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.text-16{
    font-size: 16px;
}
.text-14{
    font-size: 14px;
}
/*hot sale*/
.title-card-ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    max-width: 98%;
}

.card-img{
    border: 1px solid #E2E2E2;
    border-radius: 5px;
}
.card-img-top{
    border: 2px solid var(--main-color);
    border-radius: 5px;
}
.text-primary-active{
    color: #121212;
    font-weight: 600;
}
.text-primary{
    color: var(--main-color);
}

/*Doanh thu theo kênh bán*/
.filter-title{
    display: inline-flex;
    padding: 8px 12px;
    align-items: center;
    gap: 4px;
    border-radius: 6px;
    background: #F1F1F1;
}
.container-revenue-chanel{
    display: inline-flex;
    flex-direction: column;
    /*align-items: flex-start;*/
    gap: 6px;
}
.child-revenue-chanel{
    display: flex;
    padding: 12px 0px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E2E2E2;
}
.child-title{
    display: flex;
    align-items: center;
    gap: 12px;
}
.circle-icon{
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid #E2E2E2;
}
.chile-title-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.child-main-title{
    color: #121212;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; /* 150% */
}
.child-extra-title{
    color: #45494E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.revenue-money{
    color: #121212;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; /* 150% */
}
.percent-chanel-container{
    display: flex;
    min-width: 72px;
    padding: 4px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: #F1F1F1;
}
.percent{
    color: #323232;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px; /* 157.143% */
}
.container-extra-revenue{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.extra-revenue-child{
    border-radius: 6px;
    background: white;
}
.extra-revenue-content{
    padding: 12px;
    display: inline-flex;
    align-items: flex-end;
    gap: 12px;
}
.extra-sale-invoice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: -4px;
}
.count-invoice{
    color: var(--main-color);
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
}
.unit-chanel{
    color: #45494E;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px; /* 150% */
}
.extra-sale-revenue{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.title-extra-sale-revenue{
    color: #121212;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; /* 150% */
}

.revenue-by-channel{
    .ant-card-body{
        padding-top: 0px !important;
    }
}

