.stock-right {
  background-color: white;
  padding: 16px 8px 10px;

  .ant-card-body {
    padding: 18px 8px !important;
  }

  .float-label {
    position: relative;
    margin-bottom: 18px !important;
  }

  .btn-save-group {
    position: sticky;
    bottom: 0;
    background-color: white;
    padding: 2px 0 10px;
    z-index: 10
  }
}

.move-stock-container {
  min-height: 100vh;
  background-color: #b4b4b8;
}

.upsert-move-stock-title {
  background: var(--main-color);
  padding-bottom: 9px;
}

.grid-product-item-container {
  background-color: white;
  min-height: 100px;
  padding: 16px 8px 10px;

  .grid-form {
    .ant-input-number-input {
      padding: 4px 5px 4px 6px;
    }

    .ant-select-selector {
      padding: 0 5px !important;
    }
  }


}

.ant-select-item:has(.product-search) {
  border-bottom: 1px dashed #abb2b7 !important;
}

.product-table-h {
  position: sticky;
  top: 0;
  background-color: #e0e0e0;
  z-index: 10;
}

.box-price-move-tbl {
  .number-readonly {
    .ant-input-number {
      border: none;
    }
  }

  tr td {
    padding: 2px;
  }
}

.b-input-underline {
  border: none !important;
  border-bottom: 1px dashed var(--main-color) !important;
  border-radius: 0;
}

.has-discount {
  color: #EA1B00;
}

.has-discount:before {
  content: '↓';
}

.has-discount-allocation {
  color: #35abaa;
}

.has-discount-allocation:before {
  content: '↓';
}

.col-left {
  flex: 1 1 auto;
  max-width: calc(100% - 320px);
  /* Đảm bảo nó không chiếm hơn không gian của thẻ phải */
}


.ant-upload-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-upsert-container {
  .ant-input-number-input-wrap {
    height: 37px;
    padding-top: 4px;
  }
}

.productName {
  color: #505050;
  font-weight: 500;
}

.stock-product-search-modal {
  .ant-table-thead {
    .ant-table-selection {
      display: none;
    }
  }
}

.stock-discount-amount {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    background: #dadbde;
    width: 1px;
    height: 100%;
    z-index: 100;
  }

  &::before {
    left: 44px;
  }

  &::after {
    left: 88px;
  }

  .ant-radio-button-wrapper {
    text-align: center;
    border: none;

    &:focus,
    &:active,
    &.ant-radio-button-wrapper-checked {
      box-shadow: none;
      color: #3BB54A;
      font-weight: bolder !important;
      background-color: transparent !important;
    }
  }

  .ant-radio-button-wrapper-disabled {
    background-color: transparent !important;
    box-shadow: none;
  }
}


.tab-cru-customer {
  &.ant-tabs {
    width: 100% !important;
  }
}

.date-stock .ant-picker-input {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 60%;
    transform: translateY(-50%);
    background: #dadbde;
    width: 1px;
    height: calc(100% + 15px);
    z-index: 100;
  }

  &:focus-within:before, &:hover:before {
    background: #000;
  }
}
