.align-center input {
  text-align: center !important;
}

.align-end input {
  text-align: end !important;
}

.cs-input {
  border-bottom: 1px dashed #ccc;
  border-radius: 0;
  .ant-select-selector,
  .ant-input-number{
    border-radius: 0;
    border: none !important;
    text-align: right;
  }
}

.cs-input input{
  border-radius: 0;
  text-align: right !important;
  padding-right: 0 !important;
}

.cs-input .ant-input-number-handler-wrap {
  display: none !important;
}

.cs-input .ant-form-item {
  margin-bottom: 0 !important;
}

.input-noarrow .ant-input-number-handler-wrap {
  display: none !important;
}

.tab-sell {
  margin-top: 14px;
  font-weight: 400;

  .ant-tabs-nav-list .ant-tabs-tab, .ant-tabs-nav-add {
    border-radius: 6px !important;
    margin-right: 3px !important;
    background-color: #EEEEEE;
    &:hover{
      background-color: #fff0f4;
    }
    &.ant-tabs-tab-active,{
      background-color: var(--active-color);
      font-weight: bold;
    }
  }

  //.ant-tabs-nav-list .ant-tabs-tab:has(.return){
  //   background-color: #FEF3E1;
  //  &:hover {
  //    background-color: #FEF3E1;
  //  }
  //   .return {
  //      color: #F79B22;
  //   }
  //}

  .ant-tabs-nav-list .ant-tabs-tab.ant-tabs-tab-active:has(.return){
    background-color: #ff9900;
    .return {
      color: #FEF3E1;
    }
  }

  .ant-tabs-nav-list .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: white;
  }

  .ant-tabs-nav-add{
    background-color: var(--active-color) !important;
    color: #FFF !important;
    &:hover {
      background-color: color-mix(in srgb, var(--active-color) 80%, black 20%) !important;
    }
  }

  .ant-tabs-nav::before {
    border-bottom: 0;
  }

  .ant-tabs-tab,
  .ant-tabs-nav {
    color: #636363;
    //font-weight: bold;

    &:hover {
      color: #636363;
      opacity: 1;
    }
  }

  .ant-tabs .ant-tabs-tab:hover {
    color: white;
  }


 .ant-tabs-tab .ant-tabs-tab-remove {
    color: #636363;
    background-color: rgba(99, 99, 99, 0.30);
    padding: 3px 5px;
    font-size: 8px;
    border-radius: 6px;

  }

  .ant-tabs-nav-list .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-remove{
    color: var(--active-color);
    background-color: color-mix(in srgb, var(--active-color) 80%, white 50%);
  }

  .ant-tabs-nav-list .ant-tabs-tab:has(.return) .ant-tabs-tab-remove {
    color: #FEF3E1;
    background-color: rgba(99, 99, 99, 0.30);
  }
}

.input-border-none .ant-select-selector {
  border: none !important;
  border-radius: 0;
  border-bottom: 1px solid #e8e8e8 !important;
}

.ant-collapse.collapsed-sell-form {
  background-color: white;
  border-top: 1px solid #e8e8e8;
  .ant-collapse-content {
    border-top: none;

    .ant-collapse-content-box {
      padding-top: 0;
    }
  }
}

.ant-radio-wrapper {
  margin-inline-end: 0 !important;
  font-size: 13px;
}
.ant-radio-wrapper span.ant-radio+* {
  padding-inline-start: 5px;
  padding-inline-end: 5px;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background-color: #fff;
  border-radius: 4px;
}

::-webkit-scrollbar
{
  width: 8px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb
{
  background-color: #e8e8e8;
  border: 2px solid #e8e8e8;
}

.p-item {
  cursor: pointer;
  position: relative;
  margin-bottom: 0.75rem;
  border-radius: 0.2rem;
  min-height: 200px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  &:hover {
    --tw-border-opacity: 1;
    border-color: var(--active-color);
    .p-options{
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.4);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .p-options {
    display: none;
  }

  .p-item-inner {
    display: flex;
    flex-flow: column;
    height: 100%;
    border-radius: 0.2rem;
    overflow: hidden;
  }

  .thumb {
    width: 100%;
    height: 170px;
    flex: none;
    padding: 0.5rem;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      overflow: hidden;
      border-radius: .5rem;
    }
  }

  .pinfo {
    height: 100%;
    display: flex;
    flex-flow: column;
    padding: 0 0.5rem 0.5rem;
  }

  .favorite {
    z-index: 1;
    &.active {
      background-color: #FFB800;
      color: white;
    }
  }

  &.list {
    min-height: unset;
    padding: 0;
    border: 1px solid white;
    margin-bottom: 0.2rem;
    border-bottom: 1px solid #e5e7eb;
    &:hover {
      border: 1px solid var(--active-color);
      .p-options {
        left: unset;
        top: unset;
        bottom: 10px;
        right: 10px;
      }
    }

    .p-item-inner {
      flex-flow: wrap;
      gap: 1rem;
      align-items: center;
    }
    .thumb {
      width: 55px;
      height: 55px;
      border-radius: 0.2rem;
      overflow: hidden;
      border: 1px solid #eee;
      padding: 5px;
    }
    .favorite {
      left: unset;
      right: 0.5rem;
      box-shadow: unset;
      border: none;
      color: #FFB800;
      &.active {
        background-color: white;
        color: #FFB800;
      }
    }
    .pinfo {
      height: auto;
      gap: 4px;
      .product-name-row{
        div{
          margin-bottom: 0;
        }
      }
      .price-row{
        position: absolute;
        right: 0;
      }
    }
  }
}

.sidebar {
  padding: 1.25rem;
  &.collapsed {
    padding: 1rem;
    .product-group *{
      display: none;
    }
    button span.text {
      display: none;
    }
  }
}

.f-label {
  font-size: 14px;
  line-height: 12px;
  background-color: white;
  position: absolute;
  top: -8px;
  left: 0.75rem;
  z-index: 10;
}
.select-channel{
  .ant-select-selector{
    border: none !important;
  }
}

.note-sale span {
  border: none !important;
}

.notification {
  button {
    background-color: #fff !important;
    border: 1px solid rgb(69 73 78 / var(--tw-border-opacity, 1)) !important; 
    margin-bottom: 2px;

    &:hover, 
    &:active, 
    &:focus {
      border-color: rgb(69 73 78 / var(--tw-border-opacity, 1)) !important;
      background-color: transparent !important;
    }
  }
}