$color-dark-gray: #323232;
$color-light-gray: #D0D0D0;
$color-white: #FFFFFF;
$color-medium-gray: #636363;
$color-silver-gray: #ABABAB;
$color-red: #EE0034;
$color-very-light-gray: #EEEEEE;
$color-navy-blue: #334F7B;
