@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.summary-cell-pagination {
    background: #cbcbcb;
    padding: 6px 20px !important;
}

.custom-pagination-dropdown .ant-select-dropdown {
    position: relative !important;
    z-index: 1050 !important; /* Higher than typical elements to appear above */
}

.custom-table-summary {
    height: 60px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ant-input-outlined.ant-input-disabled, :where(.css-dev-only-do-not-override-qnu6hi).ant-input-outlined[disabled] {
    color: rgb(0 0 0 / 86%);
}
