.employeeNameTitle{
  font-size: 30px;
  font-weight: 600;
}
.ant-upload{
  border:none !important;
}
.info-checkIn{
  .check-title{font-size: 22px}
  .checkIn-time-inTime{color: green;font-size: 25px; font-weight: 600}
  .checkIn-time-outTime{color: red;font-size: 25px; font-weight: 600}
  .checkOut-time-inTime{color: green;font-size: 25px; font-weight: 600}
  .checkOut-time-outTime{color: red;font-size: 25px; font-weight: 600}
}
