@use "../../golf-config" as config;
.ant-form-item {
    &.ant-form-item-custome {
        margin: 3px 0 !important;
        margin-left: 13px !important;
        width: fit-content;
    }
}

.td-course-custome {
    width: 80px;
}
.cls-status-closed{
    color: config.$golf-status-thr-color;
    border-color: config.$golf-status-thr-color;
    // background-color: config.$golf-status-bg-thr-color;
    
}
.cls-status-active{
    color: config.$golf-status-main-color;
    border-color: config.$golf-status-main-color;
    // background-color: config.$golf-status-bg-main-color;
}
.cls-status-maintenance{
    color: config.$golf-status-second-color;
    border-color: config.$golf-status-second-color;
    // background-color: config.$golf-status-bg-second-color;
}