@import "../Upsert/index";

.infor-col {
  font-weight: 600;
}

.move-detail-tbl {
  tr td {
    padding: 6px 9px;
  }
}

.price-infor-105 {
  .totalAmountBeforeDiscount, .discountAmount, .taxAmount, .paymentAmount, .debtAmount, .paymentMethod {
    display: none;
  }
}

.price-infor-107 {
  .totalAmountBeforeDiscount, .discountAmount, .taxAmount, .paymentAmount, .debtAmount, .paymentMethod, .totalAmount {
    display: none;
  }
}

.detail-move-type-107 {
  .has-discount-allocation, .note {
    display: none !important;
  }
}

.price-infor-108 {
  .totalAmountBeforeDiscount, .discountAmount, .taxAmount, .paymentAmount, .debtAmount, .paymentMethod {
    display: none;
  }
}

.right-box-move-108 {
  .relatedMoveId, .inventoryId {
    display: none;
  }
}

.detail-amount-move-box-106 {
  display: none;
}
