.table-import-stock-main {
  width: 70% !important;
  &.ant-modal {
    top: 30px;
  }
  th,
  td {
    border: 0.2px solid #eeeeee;
  }
  tr:nth-child(2) {
    td {
      border-top: 0px;
    }
  }
}
