.table-list-order .float-label {
  margin-bottom: 0 !important;
}

.order-container .ant-segmented-item-selected {
  color: #36A261;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.price-input input {
  text-align: center !important;
}

.search-btn {
  background-color: #fff !important;
  color: #000 !important;
  border: 1px solid #0000001a;
  border-radius: 6px;
  height: 40px;
}