.header {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    position: relative;
    background: transparent;
    display: flex;
    align-items: center;
    margin-block: 0;
    margin-inline: 16px;
    height: 56px;
    box-sizing: border-box;
    margin-inline-end: 68px;
}

.header-logo img {
    height: 50px;
}


