.card-search{
  .ant-card-body{
    padding-bottom: 0;
  }
}
.card-static.red{
  border: 1px solid #FF0000 !important;
  .value{
    color: #FF0000;
  }
}
.card-static.green{
  border: 1px solid var(--main-color) !important;
  .value{
    color: var(--main-color);
  }
}

.card-static{
  border: 1px solid !important;
}

.card-table-cashbook{
  .ant-card-body{
    padding: 0 0 10px;
  }
  .custom-pagination{
    padding: 0 18px;
  }
}

.status-label {
  .as-label {
    left: -4px;
  }
}

.ord-cell-waiting{
  color: #FA9E1E;
  background: #FFF8D7;
  border-color: #FA9E1E;
  min-width: 120px;
  text-align: center;
}
.ord-cell-confirmed{
  color: #1B85FF;
  background: #E0F4FF;
  border-color: #1B85FF;
  min-width: 120px;
  text-align: center;
}
.ord-cell-cancel{
  color: #FF334B;
  background: #FEEAED;
  border-color: #FF334B;
  min-width: 120px;
  text-align: center;
}
.ord-cell-arrived{
  color: #22BA4F;
  background: #E6FAE5;
  border-color: #22BA4F;
  min-width: 120px;
  text-align: center;
}
.add-reservation .full .ant-space-item:nth-child(1){
  width: 100%;
}
.add-reservation .cancel .ant-space{
  display: block;
  margin: 10px -4px 0 -4px;

  .ant-space-item{
    width: 50%;
    float: left;
    padding: 0 4px;
  }
  button{
    width: 100%;
  }
}
.tab-disease{
  z-index: 9;
  position: relative;
  justify-content: end;
  top: 69px;
  right: 20px;
  margin-top: -53px;
  float: right;

  button{
    border: 1px solid #939393 !important;
    border-radius: 6px;
    min-width: 44px;
    height: 44px;
    justify-content: center;

    span:nth-child(2){
      display: none;
    }
  }
  .active{
    border: 1px solid #00A660 !important;
    background: #00A660 !important;
    color: #fff;
  }
}
